# 1. Ignore macOS system files
.DS_Store

# 2. Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 3. Ignore your local virtual environment folder
capsule_endoscopy_labeler/
.capsule_endoscopy_labeler/

# 4. Ignore logs or temporary files (adjust as needed)
*.log
*.tmp

# 5. Ignore secret files
credentials.txt
client_secret.json
.streamlit/secrets.toml

# Spyder project settings
.spyproject/
