# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment folder (if using venv instead of Conda)
.venv/
venv/

# Ignore DS_Store (macOS)
.DS_Store

# Ignore credentials / secrets
credentials.txt
client_secret.json
.streamlit/secrets.toml

# Spyder project settings
.spyproject/
